.manage-patient-container {
    .m-s-title {
        text-transform: uppercase;
        margin-top    : 15px;
        margin-bottom : 15px;
        font-weight   : 600;
        font-size     : 17px;
        text-align    : center;

    }

    .date {
        display       : flex;
        flex-direction: column;

        .flatpickr-input {
            width : 200px;
            height: 35px;
        }
    }

    .pick-hour-container {
        padding-top   : 20px;
        padding-bottom: 20px;
        display       : flex;
        gap           : 20px;
        flex-wrap     : wrap;

        button {
            padding: 5px 15px;
            border : 1px solid grey;
        }
    }

    .btn-patient {
        &.active {
            background: green;
        }
    }

    .btn-save-patient {
        margin-top: 20px;


    }

}