.booking-modal-container {
    .booking-modal-content {
        display       : flex;
        flex-direction: column;
        border-color  : 1px solid red;

        .booking-modal-header {
            padding      : 10px;
            border-bottom: 1px solid #ccc;

            .left {
                font-size  : 20px;
                font-weight: 600;
                color      : black;
            }

            .right {
                float : right;
                cursor: pointer;
            }

            .price {
                margin-bottom: 10px;
            }
        }

        .body-input {
            margin-top  : 10px;
            border-color: 1px solid red !important;
            outline     : none;

            .booking-modal-body {
                padding       : 15px;
                height        : 100%;
                width         : 100%;
                display       : flex;
                flex-direction: column;

                .input-text {
                    width        : 40%;
                    height       : 35px;
                    margin-bottom: 20px;
                }

                .gender {
                    color  : black;
                    z-index: 100;
                }
            }


        }

        .booking-modal-footer {
            border-top     : 1px solid #ccc;
            padding        : 10px;
            display        : flex;
            justify-content: flex-end;
            gap            : 15px;

            button {
                border       : none;
                outline      : none;
                padding      : 5px 8px;
                border-radius: 3px;
            }

            .btn-booking-confirm {
                background-color: orange;
            }


            .btn-booking-cancel {
                background-color: grey;


            }
        }





    }
}