.general {

    &.stage-specialty,
    &.stage-teacher,
    &.stage-subject {
        // background-color: rgb(221, 54, 54);
        margin-bottom: 60px;
        border       : 1px solid red;
    }

    &.stage-advertisement {
        display       : flex !important;
        flex-direction: column !important;
        margin-bottom : 20px;
        height        : 450px !important;
        border-top    : 1px red;
        border-bottom : 1px solid red;

        .advertisement-header {
            font-size  : 30px;
            margin     : 5px 0px 5px 10px;
            font-weight: 500;
            text-align : center;
        }

        .advertisement-content {
            display           : flex;
            // width          : 100%;
            gap               : 30px;

            .advertisement-content-left {
                width: 55%;

                iframe {
                    height: 350px;
                    width : 100%;
                }
            }

            .advertisement-content-right {
                width: 45%;
                color: red;
            }
        }
    }

    &.stage-homeFotter {
        text-align: center;
        height    : 100px;

        a {
            text-decoration: none;
        }
    }

    //     margin : 0 100px 0 100px;
    //  height                : 350px;
    //  // background-color   : rgb(240, 233, 233);
    //  // width           : 100%;
    //  display               : flex;
    //  flex-direction        : column;
    .class-container {
        .class-header {
            display        : flex;
            justify-content: space-between;
            align-items    : center;

            .class-header-title {
                font-size: 30px;
                margin   : 10px 10px 5px 20px;
            }

            .class-header-detail {
                margin-right    : 30px;
                font-size       : 12px;
                height          : 35px;
                background-color: rgb(210, 237, 237);
                border          : none;
                border-radius   : 3px;

                &:hover {
                    background-color: red;
                }
            }

        }

        .class-content {
            align-items: center;
            text-align : center;
            height     : 90%;
            margin     : 0 50px;
            border     : 1px solid green;

            .slick-slider {
                height: 100%;

                .slick-disabled {
                    display: none !important;
                }

                .slick-prev {
                    left         : -10px !important;
                    background   : rgb(217, 202, 204) !important;
                    z-index      : 1;
                    height       : 40px !important;
                    width        : 40px !important;
                    opacity      : 0.7 !important;
                    // z-index   : 100;

                    &:hover {
                        opacity: 1;
                    }
                }

                .slick-next {
                    right        : -10px !important;
                    background   : rgb(217, 202, 204) !important;
                    height       : 40px !important;
                    width        : 40px !important;
                    opacity      : 0.7;
                    color        : red !important;
                    // z-index   : 100;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            .class-customize {
                border: 1px solid black;

                display            : flex;
                justify-content    : space-evenly;
                height             : 270px;
                cursor             : pointer;
                // background-color: aquamarine;
                border             : 1px solid rgb(165, 157, 157);

                .class-img {
                    margin            : 0 auto;
                    background-size   : cover;
                    // border         : 1px solid blue;
                    cursor            : pointer;
                    border            : 1px solid black;

                    &.stage-specialty-img {
                        // background   : url('../../assets/class/Class.jpg') center no-repeat;
                        width             : 150px;
                        height            : 150px;
                        border-radius     : 50%;
                        margin-top        : 40px;
                        background-size   : contain;
                        // background-clip: border-box;
                        // border: 1px solid black ip !important;
                    }

                    &.stage-teacher-img {
                        // background: url('../../assets/teacher/pic.jpg') center no-repeat;
                        width        : 150px;
                        height       : 150px;
                        border-radius: 50%;
                        margin-top   : 19px;
                        border       : 1px solid black;
                    }

                    &.stage-subject-img {
                        background: url('../../assets/subject/math.jpg') center no-repeat;
                    }

                    // &.stage-advertisement-img {
                    //     background: url('../../assets/subject/math.jpg') center no-repeat;
                    // }

                }
            }


        }

    }

}