@import "../../styles/common.scss";

.header-container {
    z-index         : 99;
    display         : flex;
    justify-content : space-between;
    background-color: $colormain;
    color           : $common-text-color;
    height          : 40px;
    position        : relative;

    .languages {

        .languages-vi {
            margin-right   : 15px;
            margin-left    : 10px;
            cursor         : pointer;
            color          : white;
            // opacity     : 0.7;

            &.active {
                opacity: 1;
                color  : red;
            }
        }

        .languages-en {
            cursor    : pointer;
            color     : white;
            // opacity: 0.7;

            &.active {
                opacity: 1;
                color  : red;
            }
        }


    }



    .btn-logout {
        color      : $common-text-color;
        line-height: 40px;
        height     : 40px;
        padding    : 0 10px;

        &:hover {
            background-color: darken($colormain, 5);
        }

        i {
            font-size: $base-size + 1px;
        }
    }
}